<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <table class="table">
        <tbody>
         <tr>
           <th><%= image_tag @user.get_profile_image("100x100") %></th>
           <th></th>
         </tr>

         <tr>
           <th>name</th>
           <th><%= @user.name %></th>
         </tr>

         <tr>
           <th>introduction</th>
           <th></th>
         </tr>

        </tbody>
      </table>
      <div>
       <h1>New book</h1>
       <%= form_with model: @book do |f| %>
        <h4>Title</h4>
         <%= f.text_field :title %>
        <h4>Opinion</h4>
         <%= f.text_area :body %>
         <%= f.submit 'Create book' %>
       <% end %>
       </div>
    </div>
    <div class="col-md-6">
     <h2>Books</h2>
     <table class="table">
       <thead>
         <tr>
           <th>Title</th>
           <th>Opinion</th>
         </tr>
       </thead>
       <tbody>
         <% @books.each do |book| %>
         <tr>
           <td><%= image_tag book.user.get_profile_image("100x100") %></td>
           <td><%= link_to book.title, controller:"books", action: "show", id: book %></td>
           <td><%= book.body %></td>
           <td></td>
           <td></td>
         </tr>
       </tbody>
         <% end %>
      </table>
    </div>
  </div>
</div>


