<div class = "container">

  <div class = "row">
    <div class = "col">
      <h1>Editing Book</h1>
      <div class="text-danger">
        <% if @book.errors.any? %>
        <h3><%= @book.errors.count %>errors prohibited this obj from being saved:</h3>
        <% @book.errors.full_messages.each do |message| %>
         <ul>
        <li><%= message %></li>
         </ul>
          <% end %>
         <% end %>
      </div>
      <%= form_with model: @book, local:true do |f| %>
       <label for="Title">Title</label>
       <P><%= f.text_field :title, autofocus: true, id:"Title", placeholder: @book.title %></p>
       <label for="Body">Opinion</label>
       <p><%= f.text_area :body, autofocus: true, id:"Body", placeholder: @book.body %></p>
       <%= f.submit"Update Book", class:"btn btn-success" %>
       <% end %>
       <%= link_to "Show", controller:"books", action:"show", id: @book %>
       |
       <%= link_to "Back", books_path %>
    </div>
  </div>
</div>