<h1>Books#show</h1>


<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <table class="table">
        <tbody>
         <tr>
           <th><%= image_tag @user.get_profile_image("100x100") %></th>
           <th></th>
         </tr>

         <tr>
           <th>name</th>
           <th><%= @user.name %></th>
         </tr>

         <tr>
           <th>introduction</th>
           <th></th>
         </tr>

        </tbody>
      </table>
      <div>
       <h1>New book</h1>
       <%= form_with model: @book_new do |f| %>
        <h4>Title</h4>
         <%= f.text_field :title %>
        <h4>Opinion</h4>
         <%= f.text_area :body %>
         <%= f.submit 'Create book' %>
       <% end %>
       </div>
    </div>
    <div class="col-md-6">
     <h2>Book detail</h2>
     <table class="table">
       <tbody>
         <tr>
           <td><%= link_to @book.user.name, controller:"users", action: "show", id: @book.user.id %>
             </td>
           <td><%= link_to @book.title, controller:"books", action: "show", id: @book %></td>
           <td><%= @book.body %></td>
           <% if @book.user == current_user %>
           <td><%= link_to "Edit", controller:"books", action: "edit", id: @book %></td>
           <td><%= link_to "Destroy", book_path(@book), method: :delete %></td>
         </tr><% end %>
       </tbody>

     </table>
    </div>
  </div>
</div>
