<div class="text-success"><p><%= flash[:notice] %></p></div>
<div class="container">
  <div class="row">
   <%= render partial: 'books/leftside', locals: {book: @book_new} %>
    <div class="col-md-8 offset-md-1">
     <h2>Book detail</h2>
     <table class="table table-hover table-inverse">
       <tbody>
         <tr>
           <td><%= link_to @book.user.name, controller:"users", action: "show", id: @book.user.id %>
             </td>
           <td><%= link_to @book.title, controller:"books", action: "show", id: @book %></td>
           <td><%= @book.body %></td>
           <% if @book.user == current_user %>
           <td><%= link_to "Edit", controller:"books", action: "edit", id: @book %></td>
           <td><%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' } %></td>
         </tr><% end %>
       </tbody>

     </table>
    </div>
  </div>
</div>
