<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/9c2b7fd351.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav class="navber navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

      <div class="navbar-collapse">
      <%= link_to root_path do %>
      <span>Bookers</span>
      <% end %>
      <% if user_signed_in? %>
      <ul class="navbar-nav ml-auto">
       <li class="px-1">
         <%= link_to user_path(current_user.id) do %>
         <p class="text-light"><span class="fas fa-home"></span>Home</p>
         <% end %>
       </li>
       <li class="px-1">
         <%= link_to users_path do %>
         <p class="text-light"><i class="fas fa-users"></i>Users</p>
         <% end %>
       </li>
       <li class="px-1">
         <%= link_to books_path do %>
         <p class="text-light"><span class="fas fa-book-open"></span>Books</p>
         <% end %>
       </li>
       <li class="px-1">
        <%= link_to  destroy_user_session_path, method: :delete do %>
        <p class="text-light"><span class="fas fa-sign-out-alt"></span>Log out</p>
        <% end %>
       </li>
      </ul>
      <% else %>
      <ul class="navbar-nav ml-auto">
       <li class="px-1">
         <%= link_to root_path do %>
         <p class="text-light"><span class="fas fa-home"></span>Home</p>
         <% end %>
       </li>
       <li class="px-1">
         <%= link_to about_path do %>
         <p class="text-light"><span class="fas fa-link"></span>About</p>
         <% end %>
       </li>
       <li class="px-1">
        <%= link_to new_user_registration_path do %>
        <p class="text-light"><span class="fas fa-user-plus"></span>Sign up</p>
        <% end %>
       </li>
       <li class="px-1">
        <%= link_to new_user_session_path do %>
        <p class="text-light"><span class="fas fa-sign-in-alt"></span>Log in</p>
        <% end %>
       </li>
      </ul>
      <% end %>
      </div>
    </div>
    </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
