<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/9c2b7fd351.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav class="navber navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>Bookers</span></a>
      <div class="navbar-collapse collapse show">
      <% if user_signed_in? %>
      <ul class="navbar-nav ml-auto">
       <li>
         <%= link_to user_path(current_user.id) do %>
         <p><span class="fa-solid fa-house-chimney"></span>Home</p>
         <% end %>
       </li>
       <li><%= link_to "Users", controller:"users", action: "index" %></li>
       <li><%= link_to "Books", controller:"books", action: "index" %></li>
       <li>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
       </li>
      </ul>
      <% else %>
      <ul>
       <li><a href="/">Home</a></li>
       <li><%= link_to "About", about_path %></li>
       <li>
        <%= link_to "Sign up", new_user_registration_path %>
       </li>
       <li>
        <%= link_to "Log in", new_user_session_path %>
       </li>
      </ul>
      <% end %>
      </div>
    </div>
    </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
